@import './util.less';

body {
    margin: 0;
    background-color: #f6f6f6
}
a{
    text-decoration: none;
    color: #333;
}
i {
    font-style: normal;
}
p,ul{
    margin: 0;
    padding: 0;
}
ul{
    li{
        list-style: none;
    }
}
// 1px边框
